.ingredients-list-group__card {
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: 400;
  background: #fff;
  min-height: 3rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.06);
  display: block;
}
.ingredients-list-group__card,
.ingredients-list-group__card a {
  font-family: ICA Text, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}
.ingredients-list-group__card__qty {
  width: auto;
  display: inline-block;
  font-family: ICA Text, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.0125rem;
}
